#sentence-transformers: This is the name of a Python package for natural language processing (NLP) tasks. It provides various methods for encoding and comparing sentences.
#uvicorn: This is the name of a Python package for developing and running REST APIs. It is a lightweight and fast alternative to other popular Python web frameworks like Flask or Django.
#ctansformers: CTransformers LLM wrapper
#langchain: LLM framework 
#python-box: Box is a subclass of dict which overrides some base functionality to make sure everything stored in the dict can be accessed as an attribute or key value
#streamlit: This is a Python package for creating interactive web applications. It makes it easy to build data visualization and machine learning apps without the need for extensive frontend development.
#pydf : read pdf files




sentence-transformers==2.2.2
streamlit
ctransformers
langchain
uvicorn
python-box
pypdf
torch
langchain-community
InstructorEmbedding==1.0.1
chromadb
faiss-cpu
llama-cpp-python
